Create a variable called age and store your age in it. Print the value.

Create two variables num1 and num2. Store numbers and print their sum.

Create a variable called city and store your city name in it. Print it.

Try using a variable name that starts with a number. What happens?

Is 'MyName' and 'myname' the same variable? Try printing both after assigning different values.

What is wrong with this code?

python
Copy
Edit
for = 10
Create a variable with an underscore, like student_name. Assign your name and print it.

Change the value of a variable after assigning it. Print before and after.

Try using a special character like @ in a variable name. Does it work?

Create 3 variables: name, age, and city. Print them in one line using commas.

# Create a variable called age and store your age in it. Print the value.

In [1]:
age = 28
print(age)

28

# Create two variables num1 and num2. Store numbers and print their sum.

In [2]:
num1 = 10
num2 = 5
sum = num1+num2
print(sum)

15

# Create a variable called city and store your city name in it. Print it.

In [3]:
city = "pune"
print(city)

pune

# Try using a variable name that starts with a number. What happens?

In [4]:
1num= 10
print(1num)

SyntaxError: invalid decimal literal (867085539.py, line 1)

# Is 'MyName' and 'myname' the same variable? Try printing both after assigning different values.

In [5]:
MyName = "ankita"
myname = "gaikwad"
print(MyName)
print(myname)

ankita
gaikwad

# What is wrong with this code?

In [6]:
for = 10

SyntaxError: invalid syntax (1549114973.py, line 1)

# Create a variable with an underscore, like student_name. Assign your name and print it.

In [7]:
student_name ="ankita"
print(student_name)

ankita

# Change the value of a variable after assigning it. Print before and after.

In [8]:
x = 10
print("before:", 10)

x = 15
print("after:",15)

before: 10
after: 15

# Try using a special character like @ in a variable name. Does it work?

In [9]:
@name = "ankita"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3485926694.py, line 1)

# Create 3 variables: name, age, and city. Print them in one line using commas.

In [11]:
name ="ankita"
age = 28
city = "solapur"
print(name,age,city)

ankita 28 solapur